* {
  box-sizing: border-box;
  font-family: Arial;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}